@model IEnumerable<MovieRental.Models.Branch>

@{
    ViewBag.Title = "Branches";
}

<h4 style="margin-bottom:10px">Movie rental branches</h4>
<div id="map" style="position:absolute;width:750px;height:500px;left:25%"></div>

<script type='text/javascript'>
    function initMap() {
        const iconUrl = "https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn4.iconfinder.com%2Fdata%2Ficons%2Fplanner-color%2F64%2Fpopcorn-movie-time-512.png&imgrefurl=https%3A%2F%2Fwww.iconfinder.com%2Ficons%2F3570605%2Fcinema_entertainment_movie_movies_popcorn_icon&docid=_2E7LHI9KGGfEM&tbnid=9YsEqKTFt2fjgM%3A&vet=10ahUKEwjR-Lr29s_jAhV5Q0EAHbyPBjMQMwhKKAkwCQ..i&w=512&h=512&bih=754&biw=1536&q=movie%20icon&ved=0ahUKEwjR-Lr29s_jAhV5Q0EAHbyPBjMQMwhKKAkwCQ&iact=mrc&uact=8";
        const map = new Microsoft.Maps.Map('#map', {});

        $.get("/Branches/GetBranches", function (data) {
            const branches = JSON.parse(data);

            const center = map.getCenter();

            for (var i = 0; i < branches.length; i++) {
                //Create custom Pushpin
                var pin = new Microsoft.Maps.Pushpin(center, {
                    title: branches[i].Address + " Branch",
                    anchor: new Microsoft.Maps.Point(branches[i].LocationX, branches[i].LocationY),
                    icon: iconUrl
                });

                //Add the pushpin to the map
                map.entities.push(pin);
            }
        });
    }
</script>
<script src='https://www.bing.com/api/maps/mapcontrol?callback=initMap&key=AtZY06FRanrtJxDGTeSGzu9caUxK_71IL6tLRm73FZOz8X5nTXkNoKOngnpl--xs' async defer></script>
