@{
    ViewData["Title"] = "Home Page";
}

<div class="fade-in-animation">
    <div class="row">
        <div id="title-section">
            <img src="~/images/Popcorn.jpg" id="backgroud-image-title" />
            <h1 id="title">Movie Rental</h1>
            <h3 id="slogen">Binge, Learn, Relax, Enjoy</h3>
        </div>
    </div>
</div>