<link rel="stylesheet" href="~/css/Home.css" />


@{
    ViewData["Title"] = "Home Page";
}

<section class="fade-in-animation">
    <section id="title-section" class="row">
        <video autoplay id="backgroud-image-title">
            <source src="~/images/popcornVideo.mp4" type="video/mp4">
        </video>
        <h1 id="title">Movie Rental</h1>
        <h3 id="slogen">Binge, Learn, Relax, Enjoy</h3>
    </section>


    <section id="lists-container">
        <div class="card list-card">
            <div class="card-title">
                <h3>Genres And Average Ages</h3>
            </div>
            <div class="card-content">
                <div class="list">
                    <ol>
                        @foreach (var item in ViewBag.GenresAndAverageAges)
                        {
                            <li>@item.GenreName - @item.AverageAge</li>
                        }
                    </ol>
                </div>
            </div>
        </div>

        <div class="card list-card">
            <div class="card-title">
                <h3>Most Popular</h3>
            </div>
            <div class="card-content">
                <div class="list">
                    <ol id="mostPopularList">
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section id="graphs-container">
        <div class="card graph-card">
            <div class="card-title">
                <h3>Genres By Movies Amount</h3>
            </div>
            <div class="card-content">
                <div id="genresByMoviesPie"></div>
            </div>
        </div>

        <div class="card graph-card">
            <div class="card-title">
                <h3>Movies By Loans</h3>
            </div>
            <div class="card-content">
                <svg id="bar" width="450" height="400"></svg>
            </div>
        </div>
    </section>

    <section id="popular-movies-api-container">
        <div class="card popular-movies-card">
            <div class="card-title">
                <h3>Top Rated Movies - By TMDB</h3>
            </div>
            <div class="card-content">
                <div id="TopRatedTMDBListWrapper" class="list scrollable">
                    <ol id="TopRatedTMDBList">
                    </ol>
                </div>
            </div>
        </div>
    </section>

</section>

<script>
    (function () {
        $.ajax({
            url: "/Home/GetMostPopularForList",
            success: function (result) {
                var listItems = "";

                $.each(result, function (index, value) {
                    listItems = listItems + " " + "<li><a href='/Movies/Details/" + value.MovieId + "'>" + value.Name + "</a></li>"
                });

                $("#mostPopularList").html(listItems);
            }
        });

         $.ajax({
            url: "https://api.themoviedb.org/3/movie/top_rated?api_key=74646cdb096c42edb220cdab5822f8d8&language=en-US&page=1",
            success: function (result) {
                var listItems = "";

                $.each(result.results, function (index, value) {
                    listItems = listItems + " " + "<li><span>" + "<span class='bold'>Title: </span>" + value.title + "<span class='bold'> Popularity: </span>" + value.popularity + "</span></li>";
                });

                $("#TopRatedTMDBList").html(listItems);
            }
        });
    })();
</script>

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Color scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<script>
    (function () {
        $.ajax({
        url: "Home/getMovieByGenre", success: function (result) {
            var data = JSON.parse(result);

            // set the dimensions and margins of the graph
            var width = 450
            height = 400
            margin = 20

            // The radius of the pieplot is half the width or half the height (smallest one). I subtract a bit of margin.
            var radius = Math.min(width, height) / 2 - margin

            // append the svg object to the div called 'genresByMoviesPie'
            var svg = d3.select("#genresByMoviesPie")
                .append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

            // set the color scale
            var color = d3.scaleOrdinal()
                .domain(data)
                .range(d3.schemeSet2);

            // Compute the position of each group on the pie:
            var pie = d3.pie()
                .value(function (d) { return d.value; })
            var data_ready = pie(d3.entries(data))
            // Now I know that group A goes from 0 degrees to x degrees and so on.

            // shape helper to build arcs:
            var arcGenerator = d3.arc()
                .innerRadius(0)
                .outerRadius(radius)

            // Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
            svg
                .selectAll('mySlices')
                .data(data_ready)
                .enter()
                .append('path')
                .attr('d', arcGenerator)
                .attr('fill', function (d) { return (color(d.data.key)) })
                .attr("stroke", "black")
                .style("stroke-width", "2px")
                .style("opacity", 0.7)

            // Now add the annotation. Use the centroid method to get the best coordinates
            svg
                .selectAll('mySlices')
                .data(data_ready)
                .enter()
                .append('text')
                .text(function (d) { return d.data.key + "-" + d.data.value })
                .attr("transform", function (d) { return "translate(" + arcGenerator.centroid(d) + ")"; })
                .style("text-anchor", "middle")
                .style("font-size", 17)
        }
    });
    })();
</script>

<script>
     (function () {
        var svg = d3.select("#bar"),
            margin = { top: 20, right: 20, bottom: 30, left: 40 },
            width = +svg.attr("width") - margin.left - margin.right,
            height = +svg.attr("height") - margin.top - margin.bottom;

        var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
            y = d3.scaleLinear().rangeRound([height, 0]);

        var g = svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


        $.ajax({
            url: "Home/getNumberOfMovieLoans", success: function (result) {
                var data = JSON.parse(result);

                x.domain(data.map(function (d) { return d.movieName; }));
                y.domain([0, d3.max(data, function (d) { return d.loansNumber; })]);

                g.append("g")
                    .attr("class", "axis axis--x")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x));

                g.append("g")
                    .attr("class", "axis axis--y")
                    .call(d3.axisLeft(y).tickValues(d3.range(0, 10, 1)))
                    .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6)
                    .attr("dy", "0.71em")
                    .attr("text-anchor", "end")
                    .text("loansNumber");

                g.selectAll(".bar")
                    .data(data)
                    .enter().append("rect")
                    .style("opacity", 0.7)
                    .attr("class", "bar")
                    .attr("x", function (d) { return x(d.movieName); })
                    .attr("y", function (d) { return y(d.loansNumber); })
                    .attr("width", x.bandwidth())
                    .attr("height", function (d) { return height - y(d.loansNumber); })
                    .attr("fill", "#D62503");
            }
        });
    })();
</script>
