@{
    ViewData["Title"] = "Home Page";
}

<div class="fade-in-animation">
    <div id="title-section" class="row">
        <img src="~/images/Popcorn.jpg" id="backgroud-image-title" />
        <h1 id="title">Movie Rental</h1>
        <h3 id="slogen">Binge, Learn, Relax, Enjoy</h3>
    </div>

    <hr />

    <div id="lists-container">
        <div class="card list-card">
            <h3>New Releases</h3>
            <div class="list-type5">
                <ol>
                    <li><a href="#">Formget Online Form Builder Create Online </a></li>
                    <li><a href="#">Formget Online Form Builder Create Online </a></li>
                    <li><a href="#">Formget Online Form Builder Create Online </a></li>
                </ol>
            </div>
        </div>
        <div class="card list-card">
            <h3>Most Popular</h3>

        </div>
    </div>
</div>