<link rel="stylesheet" href="~/css/Home.css" />


@{
    ViewData["Title"] = "Home Page";
}

<section class="fade-in-animation">
    <section id="title-section" class="row">
        <video autoplay id="backgroud-image-title">
            <source src="~/images/popcornVideo.mp4" type="video/mp4">
        </video>
        <h1 id="title">Movie Rental</h1>
        <canvas id="slogen" width="400" height="100">
            Binge, Learn, Relax, Enjoy
        </canvas>
    </section>


    <section id="lists-container">
        <div class="card list-card">
            <div class="card-title">
                <h3>New Releases</h3>
            </div>
            <div class="card-content">
                <div class="list">
                    <ol>
                        @foreach (var moiveItem in ViewBag.NewReleases)
                        {
                            <li><a href="/Movies/Details/@moiveItem.MovieId">@moiveItem.Name</a></li>
                        }
                    </ol>
                </div>
            </div>
        </div>

        <div class="card list-card">
            <div class="card-title">
                <h3>Most Popular</h3>
            </div>
            <div class="card-content">
                <div class="list">
                    <ol id="mostPopularList">
                    </ol>
                </div>
            </div>
        </div>
    </section>
</section>

<script>
    (function () {
        var c = document.getElementById("slogen");
        var ctx = c.getContext("2d");
        ctx.font = "30px Arial";
        ctx.strokeStyle = "#FFF";
        ctx.strokeText("Binge, Learn, Relax, Enjoy",10,50);

        $.ajax({
            url: "/Home/GetMostPopularForList",
            success: function (result) {
                var listItems = "";

                $.each(result, function (index, value) {
                    listItems = listItems + " " + "<li><a href='/Movies/Details/" + value.MovieId + "'>" + value.Name + "</a></li>"
                });

                $("#mostPopularList").html(listItems);
            }
        });
    })();
</script>