#moviesTitle {
    font-size: 75px;
    text-shadow: 4px -3px 6px rgba(20,9,5,0.53);
}

.movie-card {
    width: 40%;
    margin: 0 auto;
    margin-top: 10%;
    height: 200px;
}

.movie-card .card-title {
    height: 25%;
}

.movie-card .card-content {
    top: 25%;
}

#detials-columns-container {
    column-count: 2;
    column-gap: 8px;
    column-rule-style: solid;
    column-rule: 1px solid transparent;
    padding: 8px;
}

#detials-title-column {
    column-span: 1; 
    text-align: right;
    font-weight: bold;
}

#detials-values-column {
    column-span: 1;
}

.edit-movie-card {
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
    height: 450px;
}

.edit-movie-card .card-title {
    height: 10%;
}

.exit-movie-card .card-content {
    top: 10%;
}