.movie-card {
    width: 40%;
    margin: 0 auto;
    margin-top: 10%;
    height: 200px;
}

.movie-card .card-title {
    height: 25%;
}

.movie-card .card-content {
    top: 25%;
}

.edit-movie-card {
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
    height: 500px;
}

.edit-movie-card .card-title {
    height: 10%;
}

#delete-movie-card {
    height: 250px;
}